@import '../include/basic'

.btn
  position relative
  display inline-block
  cursor pointer
  width 2rem
  height 1rem
  margin auto 0.16rem
  text-align center
  line-height @height
  font-size 0.28rem
  background #fff
  color #333
  box-shadow 0 0 0 0.04rem rgba(#000, 0.5)
  border-radius @height * 0.5